# Dependencies
node_modules/
**/node_modules/

# Build & Output Directories
dist/
**/dist/
dist-electron/
**/dist-electron/
build/
**/build/
release/
**/release/
.vite/
**/ .vite/

# Executables & Installers
*.exe
*.7z
*.blockmap
*.zip
*.dmg
*.AppImage
*.deb
*.rpm

# Environment Variables & Secrets
.env
.env.*
*.env
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python & Backend
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# Operating System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
scratch/
