# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
venv/
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries & Executables
*.exe
*.zip
*.blockmap
ngrok.exe
ngrok.zip

# Electron & Frontend Build Outputs
release/
frontend/release/
dist/
frontend/dist/
dist-electron/
frontend/dist-electron/
scratch/
